# Ignorar la carpeta vendor (dependencias de Composer)
vendor/

# Ignorar archivos de configuración locales
.env

# Ignorar logs
*.log

# Ignorar directorios de IDE como .vscode, .idea, etc.
.vscode/
.idea/

# Ignorar archivos temporales
*.tmp
*.swp